$font-primary: 'Noto Sans JP', sans-serif;
$font-second: "Noto Sans JP", sans-serif;

$transition-base: all .3s ease-in !default;
$color-primary: #04246c;
$color-secondary: #f48400;
$color-text: #000;
$color-captionor-green-light: #313521;
$color-gray: #323b44;
$color-gray-light: #293337;