$font-primary: 'Noto Sans JP', sans-serif;
$font-second: "PRyuminPr6N Bold", sans-serif;
$font-third: "Hiragino Sans", sans-serif;
$font-fourth: "Roboto", sans-serif;
$font-fifth: "Futura PT", sans-serif;

$transition-base: all .3s ease-in !default;
$color-primary: #04246c;
$color-secondary: #f48400;
$color-text: #000;
$color-captionor-green-light: #313521;
$color-gray: #323b44;
$color-gray-light: #293337;
$color-orange: #fe9f41;