$font-primary: 'Noto Sans JP', sans-serif;
$font-second: "PRyuminPr6N Bold", sans-serif;
$font-third: "Hiragino Sans", sans-serif;
$font-fourth: "Roboto", sans-serif;
$font-fifth: "Futura PT", sans-serif;
$font-sixth: "Hiragino Mincho ProN", sans-serif;
$font-seventh: "Hiragino Kaku Gothic Pro", sans-serif;

$transition-base: all .3s ease-in !default;
$color-primary: #04246c;
$color-secondary: #f48400;
$color-text: #000;
$color-captionor-green-light: #313521;
$color-gray: #323b44;
$color-gray-light: #293337;
$color-orange: #fe9f41;
$color-blue: #013063;
$color-heading: #253456;
$color-gold: #ae7829;
$color-blue-light: #05215a;
$color-blue-light-2: #6781a8;
$color-red: #c50934;
$color-gray-light-2: #727477;
$color-red-2: #9a0a08;