.main-footer {
    background: #fff;

    &-top {
        background: #f2f2f2;
        padding-top: 46px;
        padding-bottom: 70px;

        @include media-breakpoint-down(md) {
            padding-top: 29px;
            padding-bottom: 30px;
        }

        &-warp {
            display: flex;
            justify-content: space-between;

            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
                gap: 28px;
            }
        }

        &__left,
        &__right {
            width: 50%;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        &__right {
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 25.6px;
                        letter-spacing: 0.04em;
                        color: #000;
                        font-weight: 300;
                        font-family: $font-third;

                        @include media-breakpoint-down(md) {
                            font-size: 15px;
                            letter-spacing: 0.02em;
                        }
                    }
                }
            }
        }
    }

    &__logo {
        margin-bottom: 2px;

        img {
            width: 100%;
            height: auto;
            max-width: 117px;

            @include media-breakpoint-down(lg) {
                max-width: 80px;
            }

            @include media-breakpoint-down(md) {
                max-width: 60px;
            }
        }
    }

    &__company,
    &__address {
        font-size: 16px;
        letter-spacing: 0.04em;
        font-family: $font-third;
        font-weight: 400;
        margin-top: 22px;
        display: flex;
        align-items: flex-start;
        gap: 15px;
        max-width: 400px;

        @include media-breakpoint-down(md) {
            font-size: 15px;
            letter-spacing: 0.02em;
        }

        span {
            width: 100%;
            display: inline-block;
            max-width: 50px;
        }
    }

    &__copyright {
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: 0.04em;
        font-family: $font-third;
        font-weight: 300;
        padding: 40px 0;
        text-align: center;

        @include media-breakpoint-down(md) {
            padding: 22px 0;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
}