.header-main {
    background: $color-primary;
    padding-bottom: 12px;
    padding-top: 8px;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: #fff;
                font-family: $font-third;
                font-size: 17px;
                line-height: 39.45px;
                letter-spacing: 0.1em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                @include media-breakpoint-down(xl) {
                    font-size: 14px;
                }
            }
        }
    }

    .header-logo {
        img {
            width: 100%;
            height: auto;
            max-width: 64px;
        }
    }

    .header-menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;

            li.current-menu-item a,
            li a:hover {
                color: $color-secondary;
            }
        }
    }

    .header-right {
        gap: 15px;

        .yutaka-button {
            margin-left: 12px;
        }
    }

    .header-phone {
        gap: 5px;
        color: #fff;
        text-decoration: none;

        img {
            width: 100%;
            height: auto;
            max-width: 28px;
            flex-shrink: 0;
            margin-bottom: 10px;
        }

        p {
            font-family: $font-third;
            font-size: 17px;
            line-height: 39.45px;
            letter-spacing: 0.1em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            flex-shrink: 0;

            @include media-breakpoint-down(xl) {
                font-size: 14px;
            }

            span {
                font-family: $font-fourth;
                font-size: 19.91px;
                line-height: 21.54px;
                letter-spacing: 0.1em;
                font-weight: 500;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                width: 100%;

                @include media-breakpoint-down(xl) {
                    font-size: 16px;
                }
            }
        }
    }
}