.yutaka-button {
    background: linear-gradient(to bottom, #ffc45e 0%, #ff9d2f 100%);
    border: 2px solid $color-orange;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 700;
    padding-right: 40px;
    padding-left: 40px;
    height: 40px;
    font-family: $font-primary;
}