* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wpadminbar {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;


    .logged-in & {
        scroll-padding-top: 96px;

        @media screen and (max-width: 782px) {
            scroll-padding-top: 110px;
        }
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    letter-spacing: 0.06em;
    --bs-body-color: $color-blue;
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.5;
    font-family: $font-primary;

    @media (max-width: 767.98px) {
        font-size: 14px;
        letter-spacing: 0.03em;
    }
}



.container {
    max-width: 1240px;
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-down(md) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

h1 {
    font-size: 56px;
    line-height: 60.86px;
    letter-spacing: 0.12em;
    font-weight: 600;

    @include media-breakpoint-down(lg) {
        font-size: 48px;
        line-height: 52.22px;
        letter-spacing: 0.07em;
    }

    @include media-breakpoint-down(md) {
        font-size: 36px;
        line-height: 46.68px;
        letter-spacing: 0.05em;
    }
}

h2 {
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 0em;
    line-height: 100%;

    @media (max-width: 1023.98px) {
        font-size: 28px;
    }

    @media (max-width: 767.98px) {
        font-size: 23px;
    }
}

h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: $font-primary;
    letter-spacing: 0.06em;
    line-height: 1.5;

    @media (max-width: 1023.98px) {
        font-size: 24px;
    }

    @media (max-width: 767.98px) {
        font-size: 16px;
        letter-spacing: 0.03em;
    }
}

h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: $font-primary;
    letter-spacing: 0.06em;
    line-height: 1.5;

    @media (max-width: 1023.98px) {
        font-size: 20px;
    }

    @media (max-width: 767.98px) {
        font-size: 18px;
        letter-spacing: 0.03em;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container-full {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


.yutaka-section {
    width: 100%;
    position: relative;
    z-index: 1;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    >.container {
        position: relative;
        z-index: 2;
    }

    &__sub-heading {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.06em;
        line-height: 46.68px;
        font-family: $font-fifth;
        margin: 0;
    }

    &__label {
        font-size: 24.38px;
        line-height: 35.57px;
        font-family: $font-fifth;
        margin: 0;
        letter-spacing: 0.06em;
        font-weight: 500;
        color: $color-blue;
        text-align: center;

        @include media-breakpoint-down(lg) {
            font-size: 20px;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 23.34px;
            letter-spacing: 0.03em;
        }
    }

    &__title {
        font-family: $font-sixth;
        font-size: 35.05px;
        line-height: 46.75px;
        letter-spacing: 0.06em;
        font-weight: 600;
        color: $color-heading;
        text-align: center;
        margin: 22px 0 0 0;

        @include media-breakpoint-down(lg) {
            font-size: 28px;
            line-height: 37.34px;
        }

        @include media-breakpoint-down(md) {
            font-size: 23px;
            line-height: 31.34px;
            letter-spacing: 0.03em;
            margin-top: 12px;
        }
    }

    &__line {
        width: 100%;
        max-width: 100px;
        height: 3.81px;
        background: $color-heading;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;

        @include media-breakpoint-down(md) {
            height: 2.5px;
            max-width: 65px;
            margin-top: 23px;
        }
    }
}

.y-text-red-2 {
    color: $color-red-2 !important;
}

.s-text-primary {
    color: $color-primary;
}

.s-heading-line {
    border-left: 8px solid $color-primary;
    padding-left: 10px
}

.pl-8 {
    padding-left: 8px;
}

p.br-none>br {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

ul {
    padding-left: 0;

    li {
        position: relative;
        list-style: none;
        padding-left: 16px;

        &::before {
            content: " ";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #000;
            position: absolute;
            left: 3px;
            top: 12px;
        }
    }
}

.text-note {
    font-size: 14px;
}

.yutaka-heading-bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0;
    font-weight: 600 !important;
    color: #000;
    background: #d1d5db;
    padding: 3px 7px;

    @include media-breakpoint-down(md) {
        font-size: 14px;
        padding: 0 5px;
        line-height: 20px;
    }
}

.yutaka-heading-line {
    position: relative;
    margin-bottom: 20px !important;
    border-left: 4px solid $color-primary;
    padding-left: 20px;

    @include media-breakpoint-down(md) {
        border-left-width: 2px;
        padding-left: 10px;
    }

    &.mb-0 {
        margin-bottom: 0 !important;
    }
}

.yutaka-heading-space {
    padding-left: 20px;

    @include media-breakpoint-down(md) {
        padding-left: 10px;
    }
}