.wpcf7-form {
    background: #fff3f2;
    padding: 60px 30px 42px 60px;

    @media (max-width: 767.98px) {
        padding: 13px 12px 36px 12px;
    }

    .form-group {
        padding-top: 22px;
        padding-bottom: 30px;
        border-bottom: 1px solid #c5c5c5;

        @media (max-width: 767.98px) {
            padding-top: 17px;
            padding-bottom: 20px;
        }

        >p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            gap: 50px;

            @media (max-width: 767.98px) {
                flex-wrap: wrap;
                gap: 15px;
            }

            >br {
                display: none;
            }
        }

        input,
        textarea {
            border: 1.5px solid $color-primary;
            width: 80%;

            @media (max-width: 767.98px) {
                width: 100%;
            }
        }

        input {
            height: 37.42px;

            @media (max-width: 767.98px) {
                height: 28px;
            }
        }

        textarea {
            height: 223.05px;

            @media (max-width: 767.98px) {
                height: 28px;
            }
        }

        label {
            font-size: 18.72px;
            font-weight: 500;
            color: $color-text;
            width: 196px;
            flex-shrink: 0;
            text-align: left;

            @media (max-width: 767.98px) {
                font-size: 14px;
                width: auto;
            }

            span {
                background: $color-primary;
                color: #fff;
                padding: 0px 5px;
                display: inline-block;
                margin-left: 3px;
            }
        }

        .wpcf7-form-control-wrap {
            flex-shrink: 1;
            width: 100%;
            text-align: left;
        }

        &.name {
            padding-top: 0;

            input {
                width: 70%;

                @media (max-width: 767.98px) {
                    width: 100%;
                }
            }
        }

        &.message,
        &.submit {
            border: none;
        }

        &.submit {
            position: relative;
            padding-left: 240px;
            padding-bottom: 0;

            @media (max-width: 767.98px) {
                padding-left: 0;

                .wpcf7-spinner {
                    display: none;
                }

                >p {
                    justify-content: center;
                }
            }



            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 475px;
                z-index: 9999;
                width: 30px;
                height: 9px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAJCAYAAAAl45yBAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfklEQVQ4jb2TQQrDMAwEx01+1n+UtCH0Sek57+gb+qI6W5boEEJ6lBf2YCwYrywVSSSoA17AB5hPKwxO8KJNq6TnWc0lIy7wBipQIvHUKrE9SPruko/7+0ywfZdUA17j3ARsPyKxogNDK7A9HeC33t+cNGD/5FW7Fj+hMdjqfy0t30JS0lVrAAAAAElFTkSuQmCC);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @media (max-width: 767.98px) {
                    left: calc(50% + 100px);
                    transform: translateX(-50%);
                }
            }

            [type=submit] {
                max-width: fit-content;
                background: $color-primary;
                color: #fff;
                font-size: 18px;
                line-height: 23.65px;
                padding: 0 100px;
                display: flex;
                align-items: center;
                height: 60px;
                position: relative;

                @media (max-width: 767.98px) {
                    height: 40px;
                    font-size: 14px;
                }
            }
        }
    }
}