.home {
    .yutaka-recommend-section {
        background: #f2f2f2;
        padding: 50px 0 80px 0;

        @include media-breakpoint-down(md) {
            padding: 35px 0 35px 0;
        }

        &__list {
            width: 100%;
            max-width: 820px;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            border: 1px solid $color-heading;
            padding: 46px 40px;

            .recommend-item {
                gap: 32px;

                @include media-breakpoint-down(lg) {
                    gap: 24px;
                }

                @include media-breakpoint-down(md) {
                    gap: 12px
                }

                img {
                    width: 100%;
                    height: auto;
                    max-width: 23px;
                    height: 23px;
                    margin-top: 7px;

                    @include media-breakpoint-down(md) {
                        max-width: 15px;
                        height: 15px;
                        margin-top: 4px;
                    }
                }

                p {
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.01em;
                    color: #000;
                    font-weight: 600;
                    font-family: $font-third;


                    @include media-breakpoint-down(lg) {
                        font-size: 18px;
                        line-height: 28.8px;
                    }

                    @include media-breakpoint-down(md) {
                        font-size: 14px;
                        line-height: 23.6px;
                        letter-spacing: 0.005em;
                    }

                    span {
                        color: $color-gold;
                    }

                }
            }
        }
    }
}