.page-template-sell-a-business-template {
    .about-section {
        padding: 74px 0 70px 0;
        background: #fff;


        @include media-breakpoint-down(md) {
            padding: 38px 0 40px 0;
        }

        h2 {
            color: #002e8b;
        }

        &__content {
            margin-top: 54px;


            @include media-breakpoint-down(md) {
                margin-top: 25px;
            }
        }

        p,
        ul li {
            font-size: 16px;
            font-weight: 300;
            line-height: 29.37px;
            color: #000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0;
            }

            b {
                font-weight: 600;

            }
        }

        p,
        ul {
            margin-bottom: 30px;
        }
    }


    .flow-section {
        background: #f2f2f2;
        padding: 52px 0 82px 0;

        @include media-breakpoint-down(md) {
            padding: 35px 0 45px 0;
        }

        .yutaka-section__label {
            font-size: 20px;
            line-height: 46.68px;
        }

        .yutaka-section__title {
            color: $color-gray-light;
            margin-top: 16px;
        }

        .yutaka-section__line {
            margin-top: 24px;
        }

        &__list {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 65px 55px;

            @include media-breakpoint-down(md) {
                gap: 38px;
                flex-direction: column;
                align-items: center;
            }
        }

        .flow-item {
            width: calc((100% / 3) - (55px * 2 / 3));
            position: relative;
            background: #f2f2f2;
            display: flex;
            flex-direction: column;
            border-radius: 11px;
            // overflow: hidden;
            margin-bottom: 40px;
            position: relative;

            @include media-breakpoint-down(lg) {
                width: calc((100% / 2) - (55px / 2));
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            &::before {
                content: " ";
                display: inline-block;
                width: 14px;
                height: 46px;
                position: absolute;

                transform: translateY(-50%);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAuCAYAAAAY5CjnAAAACXBIWXMAAAsTAAALEwEAmpwYAAACU0lEQVRIiZXWT0iTcRgH8O+zSikYaCB6sG7SqSDq0mH9Q6VaBVEKUYPEitohK2EmnYsWGNohw2BGK4LZn0uzctGfJXmolOUps0vzkAltMFi1ak88796fjHT6vN/D9jy8v894eX+/394fYIeZN8FpmHmUCxl1ggIiRj58ti0HtDAuo/e2XTVwWAutuNYf5cREstAw+xdzrqIfQDA0aNpmNZREht5hMvlNyi3MfEQN/+bzCIYem9anhpJwdART0ykptzPzATXM/f6DrltPTXtMDSU3HsQxk8pI2cjMO9Uw+zOHnjvPTOtXQ8m1yAukM1kpdzOzRw3TmSx6B16a9owaSrpvx/DjV07Kfcy8AVo4k8qg737ctO1qKLkSHrKmCMBBZl6jhsmv361FYadDDSWX+58gn2cpW5i5Vg0/fZlGJPbWtOfVUCKLX7YegBPMXKGGiYkkoq/HTduphpJLoaj1DcDjCLJ1p4U4gp2tXlMOq+G6ulp4PWtNe1ENz7XuAhFJeZ2I0ipYt7oaTQ0bTXtBPlQw0LIDS1zW0H4imlLBVTUr4fPOvo+CplgUnvU1omzZUinvEtFHFayqdOP4/s2m7Sq+tiBsO1SP5eVlUj4kovcqWOFeAX/zNtN2/3+9JDzZtNXCAB4RUVwF5fZOH24wbe98Y+aF8kCqKt1SxohoUAXl0csU2OlDicyBMtky6QCeE9E9FZRlJcvLTrgUmgNlIcuCBvCKiG6qoGwZ2Tp2BhZCVsxxZc+pHnPiUB9XOmT0m8SkgbP/1ho8ZqMxNSrCjg6B/wCtJxeZYAszQQAAAABJRU5ErkJggg==);

                @include media-breakpoint-up(md) {
                    right: calc(-1 * ((55px / 2) + 6px));
                    top: 50%;
                }

                @include media-breakpoint-down(md) {
                    left: 50%;
                    transform: translateX(-50%) rotate(90deg);
                    bottom: -52px;
                }

            }

            &:nth-child(3) {
                &::before {
                    @media (min-width: 1024px) {
                        content: none;
                    }
                }
            }

            &:nth-child(5) {
                &::before {
                    content: none;
                }
            }

            &__number {
                position: absolute;
                top: -5px;
                left: -5px;
                width: 42.59px;
                height: 42.59px;
                background: $color-blue;
                color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 29.42px;
                line-height: 50.13px;
                font-weight: 300;
                letter-spacing: 0.06em;
                z-index: 10;
                border: 1.5px solid #fff;
                font-family: $font-third;

                @include media-breakpoint-down(md) {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #fff;
                    font-size: 28px;
                    line-height: 46px;
                }
            }

            &__image {
                position: relative;
                width: 100%;
                height: 169.96px;
                overflow: hidden;
                flex-shrink: 0;
                border-radius: 11px 11px 0 0;

                @include media-breakpoint-down(md) {
                    height: 159px;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__overlay {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
            }

            &__title {
                color: #fff;
                font-size: 20px;
                line-height: 25.44px;
                letter-spacing: 0.01em;
                font-weight: 600;
                text-align: center;
                margin: 0;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                @include media-breakpoint-down(md) {
                    font-size: 17px;
                    line-height: 23.5px;
                }
            }

            &__content {
                padding: 24px 20px;
                flex-grow: 1;
                border-radius: 0 0 11px 11px;

                @include media-breakpoint-down(md) {
                    padding: 17px 10px;
                }

                p {
                    font-size: 17px;
                    line-height: 25.44px;
                    margin: 0;
                    color: $color-gray-light;
                    font-weight: 300;
                    letter-spacing: 0.01em;

                    @include media-breakpoint-down(md) {
                        font-size: 14px;
                        line-height: 23.6px;
                        letter-spacing: 0.05em;
                    }

                    b {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .selling-section {
        padding: 90px 0 80px 0;
        background: #fff;

        @include media-breakpoint-down(md) {
            padding: 26px 0 30px 0;
        }

        h2 {
            color: #002e8b;
        }

        &__content {
            margin-top: 50px;


            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }

        p,
        ul li {
            font-size: 16px;
            font-weight: 300;
            line-height: 29.37px;
            color: #000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0;
            }

            b {
                font-weight: 600;

            }
        }

        p,
        ul {
            margin-bottom: 30px;
        }
    }

    .preparation-section {
        padding: 50px 0 70px 0;
        background: #f3f6ff;

        @include media-breakpoint-down(md) {
            padding: 32px 0;
        }

        h2 {
            color: #002e8b;
        }

        &__content {
            margin-top: 58px;

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }

        p,
        ul li {
            font-size: 16px;
            font-weight: 300;
            line-height: 29.37px;
            color: #000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0;
            }

            b {
                font-weight: 600;

            }
        }

        p,
        ul {
            margin-bottom: 30px;
        }
    }

    .transaction-section {
        padding: 115px 0 70px 0;
        background: #ffff;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 42px 0;
        }

        h2 {
            color: #002e8b;
        }

        &__content {
            margin-top: 64px;

            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }
        }

        p,
        ul li {
            font-size: 16px;
            font-weight: 300;
            line-height: 29.37px;
            color: #000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0;
            }

            b {
                font-weight: 600;

            }
        }

        p,
        ul {
            margin-bottom: 30px;
        }

        ul.menu-special {
            li:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .yutaka-heading-line.mb-0 {
            margin-bottom: 14px !important;
        }
    }

    .safe-section {
        padding: 80px 0;
        background: #fff;

        @include media-breakpoint-down(md) {
            padding: 32px 0;
        }

        h2 {
            color: #002e8b;
        }

        &__content {
            margin-top: 58px;

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }

        p,
        ul li {
            font-size: 16px;
            font-weight: 300;
            line-height: 29.37px;
            color: #000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0;
            }

            b {
                font-weight: 600;

            }
        }

        p,
        ul {
            margin-bottom: 30px;
        }
    }


    .yutaka-recommend-section {
        background: #f2f2f2;
        padding: 50px 0 80px 0;

        @include media-breakpoint-down(md) {
            padding: 35px 0 35px 0;
        }

        &__list {
            width: 100%;
            max-width: 820px;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            border: 1px solid $color-heading;
            padding: 46px 40px;
            margin-top: 55px;

            @include media-breakpoint-down(lg) {
                margin-top: 48px;
                padding: 32px 24px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 30px;
                padding: 32px 32px 32px 15px;
            }

            .recommend-item {
                gap: 32px;

                @include media-breakpoint-down(lg) {
                    gap: 24px;
                }

                @include media-breakpoint-down(md) {
                    gap: 12px
                }

                &:not(:last-child) {
                    margin-bottom: 32px;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 28px;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                    max-width: 23px;
                    height: 23px;
                    margin-top: 7px;

                    @include media-breakpoint-down(md) {
                        max-width: 15px;
                        height: 15px;
                        margin-top: 4px;
                    }
                }

                p {
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.01em;
                    color: #000;
                    font-weight: 600;
                    font-family: $font-third;


                    @include media-breakpoint-down(lg) {
                        font-size: 18px;
                        line-height: 28.8px;
                    }

                    @include media-breakpoint-down(md) {
                        font-size: 14px;
                        line-height: 23.6px;
                        letter-spacing: 0.005em;
                    }

                    span {
                        color: $color-gold;
                    }

                }
            }
        }
    }
}